header {
  position: fixed;
  top: 0;
  height: 56px;
  z-index: 99;
  background: #562b08;
  width: 100%;
  box-shadow: 1px 8px 15px -7px var(--shadow-2);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  color: var(--color-primary);
}

.header_left {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 1rem;
  position: fixed;
}

.circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header_middle {
  position: relative;
  left: 30px;
}

.logo_name {
  top: -10px;
  width: 100%;
  position: absolute;
  left: 115%;
  font-family: "Modak", cursive;
  font-size: 60px;
}

.header_right {
  display: flex;
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
}

.profile_link {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  padding: 3px 10px 3px 6px;
  border-radius: 50px;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  margin-right: 10px;
}

.profile_link img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid #000000;
  transform: translateX(2px);
}

.auth_link {
  position: relative;
  left: -10px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  padding: 5px 25px 2px 10px;
  border-radius: 10px;
  transform: translateY(2px);
}
