.right_home {
  position: absolute;
  left: 65vw;
  top: 35%;
  width: 30vw;
}

.right_home_text {
  font-family: "Modak", cursive;
  font-size: 60px;
  color: #fff;
  width: 100%;
}

.right_home_input {
  position: relative;
  top: 10px;
  left: 10px;
  width: 340px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right_home_input input {
  border: 1px solid #fff;
  background: var(--bg-primary);
  width: 100%;
  height: 50px;
  font-size: 17px;
  border-radius: 10px;
  padding-left: 10px;
  margin-bottom: 10px;
  color: bisque;
}

.right_home_input input::placeholder {
  color: bisque;
}

.right_home_input svg {
  position: absolute;
  top: 15px;
  right: 10px;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.suggestion_box {
  position: relative;
  left: 10px;
  margin-top: 5px;
  width: 337px;
  height: 200px;
  background: rgb(58, 56, 56);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
}

.suggestion_box::-webkit-scrollbar {
  display: none;
}

.suggestion_box .filter_item {
  width: 337px;
  height: 50px;
  display: flex;
  align-items: center;
  color: bisque;
  cursor: pointer;
}
.filter_item:hover {
  background: rgb(77, 74, 74);
}

.filter_item span {
  margin-left: 10px;
}
