img {
  width: 100%;
  height: 300px;
  vertical-align: bottom;
  object-fit: cover;
}

.card_wrap {
  display: flex;
  justify-content: center;
  margin-top: 13rem;
  backdrop-filter: blur(10px);
  width: 100%;
  height: 100%;
  transform: translateX(20px);
}

.recipe-card {
  background: #fff;
  width: 100%;
  height: 550px;
  max-width: 496px;
  border-radius: 20px;
}
.recipe-card aside {
  position: relative;
}
.recipe-card aside img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.recipe-card article {
  padding: 1.25em 1.5em;
}

.recipe-card article h2 {
  margin: 0;
  font-weight: 600;
  font-size: 1.75em;
  color: #222222;
}

.recipe-card article p {
  margin: 1.25em 0;
  font-size: 16px;
  font-weight: 400;
  color: #222222;
}
.recipe-card article p span {
  font-weight: 700;
  color: #000000;
}
.recipe-card article .ingredients {
  margin: 2em 0 0.5em;
}
